.wrapper {
  // background-color: antiquewhite;
  min-height: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.wrapper .cards {
  // background-color: tomato;
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid black;
}

.cards .card-img {
  // background-color: aqua;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.cards .section-name {
  background-color: cornsilk;
  width: 100%;
  height: 30rem;
}

.cards .section-info {
  // background-color: chartreuse;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.section-info .info {
  background-color: aqua;
  width: 45%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
