<div class="wrapper">
  <div class="cards" *ngFor="let charac of data">
    <div class="card-img">
      <img [src]="charac.image" alt="" />
    </div>

    <div class="section-name">
      <div class="name-title">
        {{ charac.name }}
      </div>
      <div class="type-title">
        {{ charac.species }}
      </div>
    </div>

    <div class="section-info">
      <div class="info-status">
        {{ charac.status }}
      </div>
      <div class="info-gender">
        {{ charac.gender }}
      </div>
    </div>
  </div>
</div>
