.wrapper {
  // background-color: darkgoldenrod;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.wrapper .title {
  background-color: brown;
  height: 3rem;
  justify-items: center;
  text-align: center;
}

.wrapper .section-cards {
  // background-color: antiquewhite;
  height: auto;
  display: flex;
  flex-direction: column;
}
