.wrapper {
  background-color: darkgoldenrod;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  background-color: blueviolet;
  height: 3rem;
}

.section-cards {
  background-color: turquoise;
  height: 30rem;
}
